/* 
 * CSS variables and font definitions for Octopus NavBar component
 */

 .navbar-pu,
 .footer-pu {
	 --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	 --font-family: 'Inter', var(--font-family-system);
 
	 --octo-font-size-normal: 18px;
	 --octo-font-size-small: 16px;
	 --octo-font-size-extra-small: 14px;
	 --h1: 48px;
	 --h2: 32px;
	 --h3: 24px;
	 --h4: 24px;
	 --h5: 20px;
	 --h6: 16px;
 
	 --space-0: 0rem;
	 --space-2: 0.125rem;
	 --space-4: 0.25rem;
	 --space-6: 0.375rem;
	 --space-8: 0.5rem;
	 --space-12: 0.75rem;
	 --space-16: 1rem;
	 --space-20: 1.25rem;
	 --space-24: 1.5rem;
	 --space-32: 2rem;
	 --space-40: 2.5rem;
	 --space-48: 3rem;
	 --space-56: 3.5rem;
	 --space-64: 4rem;
	 --space-72: 4.5rem;
	 --space-80: 5rem;
	 --space-88: 5.5rem;
	 --space-160: 10rem;
 
	 --white: #FFFFFF;
	 --cyan-100: #e5f4ff;
	 --cyan-200: #1FC0FF;
	 --cyan-300: #0d80d8;
 
	 --green-100: #00FFA3;
	 --green-200: #00AB62;
	 --green-300: #0BA890;
 
	 --grey-100: #FCFCFD;
	 --grey-200: #F4F6F8;
	 --grey-300: #DEE1E6;
	 --grey-400: #BCCFDE;
	 --grey-500: #68778D;
	 --grey-600: #2E475D;
	 --grey-700: #303E49;
	 --grey-800: #282F38;
 
	 --navy-100: #1D3C56;
	 --navy-200: #19334B;
	 --navy-300: #173045;
	 --navy-400: #152B3D;
	 --navy-500: #10212F;
	 --navy-600: #0C1A24;
	 --navy-700: #0A151E;
 
	 --red-100: #FF5D5D;
	 --red-200: #ca1e1e;
 
	 --orange-100: #EF6C34;
	 --orange-200: #EF6C3466;
	 --orange-300: #EF6C3433;
	 --orange-400: #EF6C341A;
 
	 --purple-100: #9c6ade;
	 --purple-200: #8C5FC7;
	 --purple-300: #6950FF;
	 --purple-400: #9747FF;
 
	 --pink-100: #CC3CFF;
 
	 --background-primary: var(--white);
	 --octo-color-text-normal: var(--grey-700);
	 --text-secondary: var(--octo-color-text-normal);
 
	 --hover-color: var(--grey-200);
	   --input-text: var(--grey-800);
	 --input-text-placeholder: var(--grey-500);
 
	 --input-border: var(--grey-600);
	 --input-border-selected: var(--cyan-200);
	 --input-border-error: var(--red-100);
	 --input-background: var(--navy-700);
	 --input-background-selected: var(--navy-500);
	 --input-selected: #0d80d840;
	 --marketo-dropdown-hover: var(--navy-100);
	 --input-border-disabled: #265270;
 } 
 
 .footer.footer-pu {
	 --octo-color-text-normal: var(--grey-400);
	 --input-text: var(--white);
	 --input-text-placeholder: var(--grey-400);
 }