# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @wordlee will be requested for review when someone opens a pull request.

* @wordlee

# credits updates get reviewed by michaelnoonan and jburger for open source license compliance
/docs/credits.md @michaelnoonan @jburger
