@charset "UTF-8";
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  /* background-repeat:no-repeat; */
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.octo {
  /* Youtube Player With Playlist */
  width: 100%;
  position: relative;
  padding-right: 250px;
  background: #FFFFFF;
  overflow: hidden;
  font: 400 14px/120% Roboto, Helvetica, sans-serif;
  color: #999; }
.octo .octo-video {
  width: 100%;
  padding-top: 56.25%;
  float: left;
  position: relative; }
.octo .octo-video > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
.octo.r16-9 .octo-video {
  padding-top: 56.25%; }

.octo .octo-items {
  width: 100%;
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  bottom: 0;
  overflow-y: auto; }
.octo .octo-playlist {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;}
.octo .octo-playlist a {
  color: #2F93E0; }
.octo .octo-playlist a:hover {
  color: #0A67B1; }
.octo .octo-playlist > header {
  width: 100%;
  padding: 16px 0 0 8px;
  z-index: 2; }
.octo .octo-playlist > header ._h1 {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;}
.octo .octo-playlist > header p {
  margin: 0;
  padding: 0; }
.octo .octo-playlist ol {
  padding: 0 0 16px 0;
  margin: 0;
  list-style: none;
  counter-reset: item; }
.octo .octo-playlist ol li {
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  padding: 12px 0 12px 12px; }
.octo .octo-playlist ol li > img {
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid transparent;}
.octo .octo-playlist ol li > p {
  width: 76%;
  margin: 0;
  padding: 0 16px 0 0;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #333;
  font-weight: 500;}
.octo .octo-playlist ol li > p > small {
  margin: 0;
  padding: 0;
  font-size: 80%;
  color: #333;
  font-weight: 400;}
.octo .octo-playlist ol li:hover {
  background-color: rgba(153, 153, 153, 0.08);
  cursor: pointer; }
.octo .octo-playlist ol li:hover > p {
  color: #0A67B1;}
.octo .octo-playlist ol li.selected {
  background-color: #fff;
  cursor: pointer; }
.octo .octo-playlist ol li.selected:hover {
  background-color: rgba(153, 153, 153, 0.08);
  cursor: pointer; }
.octo .octo-playlist ol li.selected > p {
  color: #2F93E0;
  font-weight: 600;}

.octo-items::-webkit-scrollbar {
  width: 6px;
  background: #3a3a3a; }

.octo-items::-webkit-scrollbar-thumb {
  background: #999; }

@media only screen and (max-width: 639px) {
  .octo {
    padding-right: 0; }
  .octo .octo-playlist {
    width: 100%;
    position: static;
    float: left; }
  .octo .octo-playlist .octo-items {
    position: static;
    max-height: 350px;
    overflow: auto; } }

