---
import { Accelerator } from 'astro-accelerator-utils';
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { SITE } from '@config';

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter
  headings: { depth: number; slug: string; text: string; }[];
};
const { lang, frontmatter, headings } = Astro.props satisfies Props;

// Logic
const accelerator = new Accelerator(SITE);

const heading = await accelerator.markdown.getTextFrom(frontmatter.title);
const formUrl = `https://docs.google.com/forms/d/e/1FAIpQLSc56rRa65vWT6d59hDtDDaEn2jtrq2-ndndstORAlpvajhiBg/viewform?usp=pp_url&entry.336432709=${encodeURIComponent(heading)}`;
---
<h2>Help us continuously improve</h2>
<p>Please let us know if you have any feedback about this page.</p>
<p><a href={ formUrl } class="button trial">Send feedback</a></p>