---
import MarketoForm from './MarketoForm.astro';
---

<footer
  class="footer footer-pu"
  role="contentinfo"
  itemscope=""
  itemtype="https://schema.org/WPFooter"
>
  <div class="footer__content container">
    <section
      class="footer__row footer__row--first"
      aria-label="Product and resource links"
    >
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-first-platform"
          itemprop="name"
        >
          Platform
        </h3>

        <ul class="footer__items" aria-labelledby="footer-first-platform">
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/"
              aria-label='"Continuous'
              delivery=""
              platform&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Continuous Delivery platform
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/use-case/platform-hub"
              aria-label='"Platform'
              hub&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Platform Hub
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/use-case/ai-assistant"
              aria-label='"AI'
              assistant&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                AI Assistant
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/support/enterprise-argo-support"
              aria-label='"Enterprise'
              support=""
              for=""
              argo&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Enterprise Support for Argo
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://codefresh.io"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"GitOps'
              cloud=""
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                GitOps Cloud
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-first-help-and-support"
          itemprop="name"
        >
          Help and support
        </h3>

        <ul
          class="footer__items"
          aria-labelledby="footer-first-help-and-support"
        >
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/company/contact"
              aria-label='"Contact'
              sales&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Contact Sales
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/support"
              aria-label='"Support"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Support
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/upgrade"
              aria-label='"Upgrade"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Upgrade
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/company/trust"
              aria-label='"Security'
              and=""
              legal&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Security and legal
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://oc.to/CommunitySlack"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Community'
              slack=""
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Community Slack
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-first-resources"
          itemprop="name"
        >
          Resources
        </h3>

        <ul class="footer__items" aria-labelledby="footer-first-resources">
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/docs"
              aria-label='"Documentation"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Documentation
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/whatsnew"
              aria-label="&quot;What's"
              new&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                What's new
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/publications"
              aria-label='"Publications"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Publications
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/blog"
              aria-label='"Blog"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Blog
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/devops"
              aria-label='"DevOps'
              handbook&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                DevOps handbook
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-first-our-company"
          itemprop="name"
        >
          Our company
        </h3>

        <ul class="footer__items" aria-labelledby="footer-first-our-company">
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/company"
              aria-label='"About'
              us&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                About us
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/company/careers"
              aria-label='"Careers"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Careers
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://roadmap.octopus.com/tabs/1-under-consideration"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Roadmap'
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Roadmap
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://ir.octopus.com/"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Investor'
              relations=""
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Investor relations
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/company/brand"
              aria-label='"Brand'
              guidelines&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Brand guidelines
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section
      class="footer__row footer__row--second"
      aria-label="Community and partners"
    >
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-second-our-awards"
          itemprop="name"
        >
          Our awards
        </h3>

        <ul class="footer__items" aria-labelledby="footer-second-our-awards">
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://www.g2.com/products/octopus-deploy/reviews"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "9bf4fce5-4ca1-462a-9289-d8a24dafc6bc", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="High performer for Enterprise badge"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/86x99/43bdefa54a/configurationmanagement_highperformer_enterprise_highperformer-1.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="86"
                    height="99"
                  />
                </figure>
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://www.gartner.com/reviews/market/devops-platforms/vendor/octopus-deploy-125263461/product/octopus-deploy"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "e78f7ed7-9a4b-4acf-a7c4-3d4c6d0959c8", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="Gartner badge - Users love us"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/86x101/dd0724c752/gartner-users-love-us-badge.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="86"
                    height="101"
                  />
                </figure>
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://www.g2.com/products/octopus-deploy/reviews"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "5792b52e-b330-452a-8fe7-0cae4482c035", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="Best estimated ROI"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/86x99/50239fb4cf/applicationreleaseorchestration_bestestimatedroi_roi-1.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="86"
                    height="99"
                  />
                </figure>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-second-sign-up-to-our-newsletter"
          itemprop="name"
        >
          Sign-up to our newsletter
        </h3>

        <ul
          class="footer__items"
          aria-labelledby="footer-second-sign-up-to-our-newsletter"
        >
          <li class="footer__item footer__item--component">
            <div class="mktoFormWrapper">
              <MarketoForm formId={2139} dreamdataTrackingId="Newsletter Signup (Footer)" />
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3
          class="footer__column-title"
          id="footer-second-marketplaces"
          itemprop="name"
        >
          Marketplaces
        </h3>

        <ul class="footer__items" aria-labelledby="footer-second-marketplaces">
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://marketplace.microsoft.com/en-us/product/saas/octopusdeployptyltd1664464418055.octopus_cloud_saas_offer?tab=overview"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Azure'
              marketplace=""
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "4ab17027-51b7-4585-b5cc-e3a8b4c9587a", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="Azure marketplace logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/43x43/01bd95458d/azure-marketplace-logo.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="43"
                    height="43"
                  />
                </figure>
              </span>
              <span class="footer__item-label" itemprop="name">
                Azure marketplace
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://github.com/marketplace/octopus-deploy"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"GitHub'
              marketplace=""
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "733770c4-466b-4a10-82e9-2fa234a409ce", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="GitHub marketplace logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/40x43/3664c2708d/github-marketplace-logo.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="40"
                    height="43"
                  />
                </figure>
              </span>
              <span class="footer__item-label" itemprop="name">
                GitHub marketplace
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section
      class="footer__row footer__row--third"
      aria-label="Legal and social media"
    >
      <div class="footer__column">
        <ul class="footer__items" aria-labelledby='"footer-third-"'>
          <li class="footer__item">
            <span class="footer__item-image" aria-hidden="true">
              <!--#storyblok#{"name": "Image", "space": "185929", "uid": "13ae958b-d571-47be-a802-ce59e8a8532f", "id": "96769966707285"}-->

              <figure class="image-wrapper">
                <img
                  src="https://a.storyblok.com/f/185929/150x150/61efa58c5f/octopus-blue-logo.svg"
                  alt="Octopus blue logo"
                  class=""
                  loading="lazy"
                  data-storyblok-image=""
                  width="150"
                  height="150"
                />
              </figure>
            </span>
            <span class="footer__item-label">© 2025 Octopus Deploy</span>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <ul class="footer__items" aria-labelledby='"footer-third-"'>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/legal/privacy"
              aria-label='"Privacy'
              policy&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Privacy Policy
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/legal/gdpr"
              aria-label='"GDPR"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                GDPR
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/legal/customer-agreement"
              aria-label='"Terms"'
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Terms
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://status.octopus.com/"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Status'
              (opens=""
              in=""
              new=""
              tab)&quot;=""
              itemprop="url"
            >
              <span class="footer__item-label" itemprop="name">
                Status
                <svg
                  class="icon icon--button-link-arrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  ><path
                    d="M6.01228 1.80213L6.66634 1.13321C6.94328 0.849968 7.39111 0.849968 7.6651 1.13321L13.3925 6.98777C13.6695 7.27101 13.6695 7.72901 13.3925 8.00923L7.6651 13.8668C7.38816 14.15 6.94033 14.15 6.66634 13.8668L6.01228 13.1979C5.73239 12.9116 5.73828 12.4446 6.02406 12.1644L9.57424 8.70527L1.10685 8.70527C0.715007 8.70527 0.399764 8.38286 0.399764 7.98211L0.399764 7.0179C0.399764 6.61715 0.715008 6.29474 1.10685 6.29474L9.57424 6.29474L6.02407 2.83564C5.73534 2.55542 5.72945 2.08838 6.01228 1.80213Z"
                    fill="#0D80D8"></path></svg
                >
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <ul class="footer__items" aria-labelledby='"footer-third-"'>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/company/trust"
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "35cf0ae8-894a-400a-a0b7-228f8d7bc4f4", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="SOC 2 Type II compliance"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/121x28/f5e12a77a5/soc2-1.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="121"
                    height="28"
                  />
                </figure>
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://octopus.com/support/enterprise-argo-support"
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "6f6cc2ba-1fd0-417d-9310-88c6d9f9fcb3", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="Argo logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/81x46/95d9bb1ded/property-1-argo-logo-color.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="81"
                    height="46"
                  />
                </figure>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <ul class="footer__items" aria-labelledby='"footer-third-"'>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://x.com/OctopusDeploy"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "4b8b6af5-79fb-46a3-a2f4-0653582251d0", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="X logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/35x35/6f5c80f250/x-logo.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="35"
                    height="35"
                  />
                </figure>
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://www.linkedin.com/company/octopus-deploy"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "1bdf2a39-1686-404f-8d5b-391e2633ae4a", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="LinkedIn logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/35x35/d628eb60c7/linkedin-logo.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="35"
                    height="35"
                  />
                </figure>
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://github.com/OctopusDeploy"
              target="_blank"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "35e93d88-a61c-460e-afc3-3fc56b9924c0", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="GitHub logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/35x35/6d993f391c/github-logo.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="35"
                    height="35"
                  />
                </figure>
              </span>
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__item-link"
              href="https://www.youtube.com/c/Octopusdeploy"
              rel='"noopener'
              noreferrer&quot;=""
              aria-label='"Image'
              link&quot;=""
              itemprop="url"
            >
              <span class="footer__item-image" aria-hidden="true">
                <!--#storyblok#{"name": "Image", "space": "185929", "uid": "80cf36de-74e2-49d3-a4b8-bf86c79e86bd", "id": "96769966707285"}-->

                <figure class="image-wrapper">
                  <img
                    src="https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp)"
                    alt="YouTube logo"
                    class=""
                    loading="lazy"
                    srcset="https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/400x0/filters:quality(85):format(webp) 400w, https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/600x0/filters:quality(85):format(webp) 600w, https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/800x0/filters:quality(85):format(webp) 800w, https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/1200x0/filters:quality(85):format(webp) 1200w, https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/1600x0/filters:quality(85):format(webp) 1600w, https://a.storyblok.com/f/185929/35x35/944072d610/youtube-logo.png/m/fit-in/2000x0/filters:quality(85):format(webp) 2000w"
                    sizes="(max-width: 480px) 100vw, (max-width: 768px) 90vw, (max-width: 1024px) 80vw, 70vw"
                    data-storyblok-image=""
                    width="35"
                    height="35"
                  />
                </figure>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>
