---
import { Accelerator } from "astro-accelerator-utils";
import type { Frontmatter } from "astro-accelerator-utils/types/Frontmatter";
import { Lang } from "@util/Languages";
import { SITE } from "@config";
import Search from "../themes/accelerator/components/Search.astro";
import MobileMenu from "./MobileMenu.astro";

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics("components/Header.astro");
stats.start();

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string }[];
  showSearch: boolean;
};
const { lang, showSearch } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

stats.stop();
---

<header class="octo-header-bkg site-header header-default">
  <div class="octo-header">
    <a href="https://octopus.com" class="logo"
      ><img
        src="/docs/img/octopus-logo.svg"
        width="172"
        height="50"
        alt="Octopus Deploy"
      /></a
    >
    {showSearch && <Search lang={lang} />}
    <MobileMenu lang={lang} />
    <a href="https://octopus.com/start?location=docs" class="button trial"
      >Free trial</a
    >
  </div>
</header>
