---
import { Accelerator } from 'astro-accelerator-utils';
import type { Frontmatter } from 'astro-accelerator-utils/types/Frontmatter';
import { Lang } from '@util/Languages';
import { SITE } from '@config';
import Search from '../themes/octopus/components/Search.astro';
import MobileMenu from './MobileMenu.astro';
import OctopusLogo from '../../public/docs/img/OctopusLogo.astro';
import SunIcon from '../../public/docs/img/SunIcon.astro';
import MoonIcon from '../../public/docs/img/MoonIcon.astro';

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics('components/Header.astro');
stats.start();

// Properties
type Props = {
  lang: string;
  frontmatter: Frontmatter;
  headings: { depth: number; slug: string; text: string }[];
  showSearch: boolean;
};
const { lang, showSearch } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

stats.stop();
---

<header class="octo-header-bkg site-header header-default">
  <div class="octo-header">
    <div class="octo-header__wrapper--left">
      <a href="https://octopus.com" class="logo">
        <OctopusLogo />
      </a>
      <span class="badge badge--brand"> Docs </span>
      <div class="theme-switcher" data-theme-toggle>
        <input
          id="theme-switcher"
          type="checkbox"
          aria-checked="false"
          role="switch"
          aria-label="Toggle theme between light and dark mode"
          tabindex="-1"
          data-theme-toggle-checkbox
        />
        <label for="theme-switcher" class="theme-switcher__label" tabindex="0">
          <span
            class="theme-switcher__icon theme-switcher__icon--light"
            aria-hidden="true"
          >
            <SunIcon />
            Light
          </span>
          <span class="switch-slider"></span>
          <span
            class="theme-switcher__icon theme-switcher__icon--dark"
            aria-hidden="true"
          >
            <MoonIcon />
            Dark
          </span>
        </label>
      </div>
    </div>
    {showSearch && <Search lang={lang} />}
    <MobileMenu lang={lang} />
    <a
      href="https://octopus.com/start?location=docs"
      class="button button--primary">Free trial</a
    >
  </div>
</header>

<script type="module">
  import { ThemeSwitcher } from '/docs/js/modules/theme-switcher.js';

  document.addEventListener('DOMContentLoaded', function () {
    const themeSwitchers = document.querySelectorAll('[data-theme-toggle]');
    themeSwitchers.forEach((switcher) => new ThemeSwitcher(switcher));
  });
</script>
