/* Recommended Tools
    Check accessibility for color combinations
    https://toolness.github.io/accessible-color-matrix/
*/

@font-face {
  font-family: 'fa-solid';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src:
    url('/docs/css/fa/webfonts/fa-solid-900.woff2') format('woff2'),
    url('/docs/css/fa/webfonts/fa-solid-900.ttf') format('truetype');
}

@font-face {
  font-family: 'fa-brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    url('/docs/css/fa/webfonts/fa-brands-400.woff2') format('woff2'),
    url('/docs/css/fa/webfonts/fa-brands-400.ttf') format('truetype');
}

:root {
  /* Color Scales */
  --black: #000000ff;
  --white: #ffffffff;

  --navy-100: #f4f6f8ff;
  --navy-200: #dae2e9ff;
  --navy-300: #a9bbcbff;
  --navy-400: #7c98b4ff;
  --navy-500: #557999;
  --navy-600: #3e607dff;
  --navy-700: #2e475dff;
  --navy-800: #1f303fff;
  --navy-900: #111a23ff;

  --blue-100: #f2f8fdff;
  --blue-200: #cde4f7ff;
  --blue-300: #87bfecff;
  --blue-400: #449be1ff;
  --blue-500: #1a77caff;
  --blue-600: #155ea0ff;
  --blue-700: #0f4778ff;
  --blue-800: #093051ff;
  --blue-900: #041a2dff;

  --orange-100: #fff5edff;
  --orange-200: #ffdabfff;
  --orange-300: #ffa461ff;
  --orange-400: #ea7325ff;
  --orange-500: #c45317ff;
  --orange-600: #a13c14ff;
  --orange-700: #7e2812ff;
  --orange-800: #59170dff;
  --orange-900: #340b07ff;

  --yellow-100: #fff7d9ff;
  --yellow-200: #ffdf62ff;
  --yellow-300: #e5b203ff;
  --yellow-400: #b98f02ff;
  --yellow-500: #927002ff;
  --yellow-600: #745801ff;
  --yellow-700: #584201ff;
  --yellow-800: #3b2c00ff;
  --yellow-900: #201800ff;

  --red-100: #fff3f3ff;
  --red-200: #ffd8d8ff;
  --red-300: #ff9f9fff;
  --red-400: #ff5d5dff;
  --red-500: #d63d3dff;
  --red-600: #aa3030ff;
  --red-700: #802424ff;
  --red-800: #571818ff;
  --red-900: #310e0eff;

  --green-100: #eefaf5ff;
  --green-200: #b8e7d3ff;
  --green-300: #5ecd9eff;
  --green-400: #00ab62ff;
  --green-500: #00874dff;
  --green-600: #006a3dff;
  --green-700: #00502eff;
  --green-800: #00361fff;
  --green-900: #001e11ff;

  --slate-100: #f5f6f8ff;
  --slate-200: #dee1e6ff;
  --slate-300: #b2b9c5ff;
  --slate-400: #8a96a7ff;
  --slate-500: #68778dff;
  --slate-600: #515d70ff;
  --slate-700: #3d4653ff;
  --slate-800: #282f38ff;
  --slate-900: #16191fff;

  --purple-200: #8c5fc7;
  --purple-300: #6950ff;
  --purple-400: #9747ff;

  /* Font sizes */
  --text-heading-xxlarge: 30px;
  --text-heading-xlarge: 24px;
  --text-heading-large: 20px;
  --text-heading-medium: 16px;

  --text-body-large: 16px;
  --text-body-medium: 14px;
  --text-body-small: 13px;
  --text-body-xSmall: 12px;

  /* Font */
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family: var(--font-family-system);
  --heading-font: var(--font-family);
  --body-font: var(--font-family);
  --bold-font: var(--font-family);
  --code-font: Consolas, monaco, monospace;

  /* Animation */
  --duration-default: 300ms;

  /* Space */
  --space-0: 0px;
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;

  /* Shadow */
  --shadow-extra-small: 0px 1px 8px 0px rgba(0, 0, 0, 0.02),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-small: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 1px 8px 0px rgba(0, 0, 0, 0.06);
  --shadow-medium: 0px 6px 12px 0px rgba(0, 0, 0, 0.1),
    0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  --shadow-large: 0px 14px 32px -4px rgba(0, 0, 0, 0.12),
    0px 2px 6px 0px rgba(0, 0, 0, 0.1);

  /* Radius */
  --radius-small: 2px;
  --radius-medium: 4px;
  --radius-large: 8px;
  --radius-xLarge: 16px;
  --radius-circle: 999px;

  /* Text */
  --color-text-primary: var(--slate-800);
  --color-text-secondary: var(--slate-600);
  --color-text-tertiary: var(--slate-500);
  --color-text-info-light: var(--blue-500);
  --color-text-info: var(--blue-700);
  --color-text-success: var(--green-700);
  --color-text-warning: var(--yellow-700);
  --color-text-danger: var(--red-700);
  --color-text-active: var(--blue-500);
  --color-text-link-default: var(--blue-500);
  --color-text-link-hover: var(--blue-600);
  --color-text-link-inverse-default: var(--blue-300);
  --color-text-link-inverse-hover: var(--blue-400);

  /* Background */
  --color-background-primary-default: var(--white);
  --color-background-primary-hover: var(--slate-100);
  --color-background-secondary-default: var(--slate-100);
  --color-background-secondary-hover: var(--slate-200);
  --color-background-tertiary: var(--slate-200);
  --color-background-info: var(--blue-100);
  --color-background-success: var(--green-100);
  --color-background-warning: var(--yellow-100);
  --color-background-danger: var(--red-100);

  /* Border */
  --color-border-primary: var(--slate-200);
  --color-border-secondary: var(--slate-100);
  --color-border-tertiary: var(--slate-300);
  --color-border-info: var(--blue-500);
  --color-border-success: var(--green-500);
  --color-border-warning: var(--yellow-300);
  --color-border-danger: var(--red-500);
  --color-border-active: var(--blue-500);

  /* Icon */
  --color-icon-primary: var(--slate-800);
  --color-icon-secondary: var(--slate-600);
  --color-icon-tertiary: var(--slate-300);
  --color-icon-info: var(--blue-400);
  --color-icon-success: var(--green-400);
  --color-icon-warning: var(--yellow-400);
  --color-icon-danger: var(--red-500);

  /* Table */
  --color-table-background-head: var(--color-background-secondary-default);
  --color-table-border: var(--color-border-primary);

  /* Code */
  --color-code-text: var(--color-text-primary);
  --color-code-background: var(--color-background-tertiary);
  --color-code-border: var(--color-border-primary);

  /* Code block */
  --color-code-block-background: var(--color-background-secondary-default);
  --color-code-block-border: var(--color-border-primary);

  /* Copy icon */
  --color-copy-icon-stroke: var(--color-icon-secondary);
  --color-copy-icon-fill: var(--color-background-secondary-default);
  --color-copy-icon-fill-hover: var(--color-background-tertiary);

  /* Callout */
  --color-callout-text-hint: var(--color-text-info);
  --color-callout-background-hint: var(--color-background-info);
  --color-callout-border-hint: var(--color-border-info);

  --color-callout-text-info: var(--color-text-info);
  --color-callout-background-info: var(--color-background-info);
  --color-callout-border-info: var(--color-border-info);

  --color-callout-text-success: var(--color-text-success);
  --color-callout-background-success: var(--color-background-success);
  --color-callout-border-success: var(--color-border-success);

  --color-callout-text-warning: var(--color-text-warning);
  --color-callout-background-warning: var(--color-background-warning);
  --color-callout-border-warning: var(--color-border-warning);

  --color-callout-text-danger: var(--color-text-danger);
  --color-callout-background-danger: var(--color-background-danger);
  --color-callout-border-danger: var(--color-border-danger);

  /* Tab */
  --color-tab--border-active: var(--color-border-active);
  --color-tab--text-active: var(--color-text-active);

  /* Scrollbar */
  --scrollbar-color: var(--color-icon-tertiary);

  /* Article header */
  --color-header-icon-border: var(--blue-200);
  --color-header-icon-background: var(--blue-100);

  /* Button */
  --button-primary: var(--purple-300);
  --button-primary-focus: var(--purple-400);
  --button-primary-text: var(--white);
  --button-ring-color: var(--purple-300);

  /* Search */
  --search-height: 3rem;
  --search-results-padding: 1rem;
  --search-dropdown-height: 60vh;
  --search-dropdown-duration: var(--duration-default);
  --search-overlay: rgba(12, 26, 36, 0.3);

  --color-search-results-background-default: var(
    --color-background-primary-default
  );
  --color-search-results-background-hover: var(
    --color-background-primary-hover
  );
  --navbar-icon-size: 3rem;

  /* Hamburger menu */
  --hamburger-line-width: 1.5rem;
  --hamburger-line-height: 0.2rem;
  --hamburger-line-margin: 0.2rem;
  --hamburger-translate-y: calc(
    var(--hamburger-line-height) + var(--hamburger-line-margin)
  );

  /* Badge */
  --color-badge-background: rgba(162, 209, 244, 0.2);
  --color-badge-text: var(--color-text-info-light);
  --color-badge-border: var(--color-border-info-light);

  /* Footer */
  --color-footer-link-default: var(--navy-300);
  --color-footer-link-hover: var(--blue-400);
  --color-footer-background: #070e14ff;

  --octopus-logo-text-color: #0f2535;

  --content-bg: var(--white);
  --menu-link-bg: var(--blue-100);

  --page-inline-margin: 2rem;

  --gap-menu: 0.4rem;
  --navigation-width: 20rem;

  --block-gap: 2rem;

  --header-pin: 0;
  --scroll-pad: 140px;

  --content-width: 78vw;
  --content-width-mobile: calc(100vw - 4rem);
  --toc-width: 340px;
  --grid-max-width: 1250px;
  --grid-gap: 4rem;
  --grid-gap-main: 2rem;
}

@media (max-width: 1480px) {
  :root {
    --toc-width: 240px;
  }
}

@media (max-width: 860px) {
  :root {
    --page-inline-margin: 1rem;
  }
}

html[data-theme='dark'] {
  --octopus-logo-text-color: var(--white);

  /* Search results */
  --search-overlay: rgba(12, 26, 36, 0.8);
  --color-search-results-background-default: var(
    --color-background-secondary-default
  );
  --color-search-results-background-hover: var(
    --color-background-secondary-hover
  );

  /* Text */
  --color-text-primary: var(--navy-100);
  --color-text-secondary: var(--navy-300);
  --color-text-tertiary: var(--navy-400);
  --color-text-info-light: var(--blue-300);
  --color-text-info: var(--blue-100);
  --color-text-success: var(--green-100);
  --color-text-warning: var(--yellow-100);
  --color-text-danger: var(--red-100);
  --color-text-active: var(--blue-300);
  --color-text-link-default: var(--blue-300);
  --color-text-link-hover: var(--blue-400);

  /* Background */
  --color-background-primary-default: var(--navy-900);
  --color-background-primary-hover: var(--navy-800);
  --color-background-secondary-default: var(--navy-800);
  --color-background-secondary-hover: var(--navy-700);
  --color-background-tertiary: var(--navy-700);
  --color-background-info: var(--blue-800);
  --color-background-success: var(--green-800);
  --color-background-warning: var(--yellow-800);
  --color-background-danger: var(--red-800);

  /* Border */
  --color-border-primary: var(--navy-700);
  --color-border-secondary: var(--navy-800);
  --color-border-tertiary: var(--navy-600);
  --color-border-info-light: var(--blue-300);
  --color-border-info: var(--blue-600);
  --color-border-success: var(--green-600);
  --color-border-warning: var(--yellow-400);
  --color-border-danger: var(--red-600);
  --color-border-active: var(--blue-300);

  /* Icon */
  --color-icon-primary: var(--navy-100);
  --color-icon-secondary: var(--navy-300);
  --color-icon-tertiary: var(--navy-500);
  --color-icon-info: var(--blue-300);
  --color-icon-success: var(--green-300);
  --color-icon-warning: var(--yellow-300);
  --color-icon-danger: var(--red-400);

  /* Article header */
  --color-header-icon-border: var(--blue-800);
  --color-header-icon-background: var(--blue-900);
}
